#vertical{
    background-color:rgb(214, 207, 192);
    height: 800px;
}
.class1{
    text-align:right;
    width:60%;
    float: left;
    
}
.class3{
        text-align:left;
        width:40%;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(63, 45, 4);
        text-shadow: 2px 2px 5px rgb(63, 45, 4)  ;
        float: left;  
}
.class4{
    height: 20%;
}
.class5{
    background-color: rgb(187, 185, 180);
    border: 6px solid rgb(63, 47, 11);
}
.class6{
    width: 10%;
}