             <div class="row"  class="row-md-5">
                <img height="100px" width="100px"  class="class4" src = "assets/images/Picture.jpeg"/>
            </div>
    
            <div class="row"  class="row-md-10">
                <br>
    
            <button type="button" class="btn btn-light class1">{{name}}</button>
            <br><br>
            <button type="button" class="btn btn-light class1">Account Details</button>
            <br><br>
            <button type="button" class="btn btn-light class1" routerLink="/contactus" >I Need Help</button>
            <br><br>
            <button type="button" class="btn btn-light class1">History</button>
            <br><br>
            <button type="button" class="btn btn-light class1" routerLink = "/settings">Settings</button>
            <br><br>
            <div class="class6">
                <br>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>  
            <br> 
            <button type="button" class="btn btn-light class2" (click)="logout()">LOGOUT</button>
            <br>
            </div>
        
