.class1{
    background-color: rgb(214, 207, 192);
    color:rgb(63, 47, 11);
    width: 100%;
    font-weight: bold;
}

.class4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.class6{
    text-align: center;
}

.class2{
    background-color: rgb(187, 185, 180);
    color:rgb(104, 78, 18);
    width: 100%;
    text-align: center;
    font-weight: bold;
}