<app-navs></app-navs>
<div class="container-fluid">
<div class="row">
    <div class="col-md-2" id="vertical">
        <app-horizontal></app-horizontal>
    </div>

    <div class="col-md-10 details">
            <input  type="text" style="padding: 8px;" class="class3" placeholder="Search Infections">
            <img height="50px" width="50px" src = "assets/images/Search.jpeg"/>

            <div class="row space">
                <div class="col">
                    <div  class="class5" routerLink = "/infection" routerLinkActive = "active">
                        <img height="200px" width="200px" src = "assets/images/Pic.jpeg"/>
                        <br><br>
                        <p>Upload the image to
                         <br> find the Infection</p>
                    </div>
                </div>
                <div class="col">
                    <div  class="class5" routerLink = "/doctor" routerLinkActive = "active">
                        <img height="200px" width="200px" src = "assets/images/Stethascope.jpeg"/>
                        <br><br>
                        <p>Find a Dermatologist</p>
                    </div>
                </div>
            </div>   

        
    </div>
</div>
</div>
