#vertical{
    background-color:rgb(214, 207, 192);
    height: 800px;
}


.class3{
    margin-left:100px;
    margin-top: 3%;
    width:800px;
    text-align: center;
} 

.class5{
    display: inline-block;
    width: 350px;
    height: 350px;
    padding: 50px;  
    background-color:rgb(214, 207, 192);
    margin-left:200px;
    font-size:20px;
    font-weight: bold;
    border: 5px solid  rgb(63, 45, 4);
}

input {
    line-height: 20px;
}

.col{
    margin-top: 8%;
}






