<div class="field">
    <label><b>{{ label }}</b></label>
    <input [type]="inputType" [formControl]="control" class="form-control" [ngClass]="{class1: showErrors() }" />
    <div *ngIf="showErrors()" class="text-danger" >
      <p *ngIf="control.errors.required">
        Value is required
      </p>
      <p *ngIf="control.errors.minlength">
        Value you entered is
        {{ control.errors.minlength.actualLength }}
        characters long, but it must be at aleast
        {{ control.errors.minlength.requiredLength }}
        characters
      </p>
      <p *ngIf="control.errors.maxlength">
        Value you entered is
        {{ control.errors.maxlength.actualLength }}
        characters long, but it cannot be longer than
        {{ control.errors.maxlength.requiredLength }}
        characters
      </p>
      <p *ngIf="control.errors.pattern">
        Please Enter valid email
      </p>
      <p *ngIf="control.errors.nonUniqueUsername">
        Username is taken
      </p>
      <p *ngIf="control.errors.noConnection">
        Can't tell if username is taken
      </p>
    </div>
</div>
  